html{
     background-image: url('https://st4.depositphotos.com/13324256/24189/i/450/depositphotos_241891718-stock-photo-wooden-textured-background-copy-space.jpg');
     font-family: cursive;
     display:flex;
     width:100%
}
body{
    background-image: url('https://st4.depositphotos.com/13324256/24189/i/450/depositphotos_241891718-stock-photo-wooden-textured-background-copy-space.jpg');
}

a{
    color:black;
    text-decoration: none;
}

header table{
    width: 100%;
}

header{
    background-color:gold;
    justify-content:center;
    display: flex;
    margin-bottom:10px;
}

.vibb:hover{
       background-color: greenyellow;
    border: 5px solid green; 
    box-shadow: 5px 5px 5px 0 darkgreen;
}

header td{
    background-color: silver;
    border:5px solid rgb(145, 79, 17);
    text-align: center;
}

.vib{
    background-color: greenyellow;
    border: 5px solid green;
    box-shadow: 5px 5px 5px 0 darkgreen;
}
header img{
    height:100px;
}
main table{
    border:10px double rgb(101, 168, 0);
    background-color: greenyellow;
    border-radius: 10px;
    border-collapse: separate;
    display:flex;
     width:100%
}
.ver{
    background-color: rgb(0, 118, 253);
    border:3px solid blue;
}
main td{
    border:2px solid rgb(101, 168, 0);
    border-collapse: collapse;
}
img{
    height: 150px;
}
footer{
    margin-top:10px;
    background-color: black;
    color:rgb(114, 114, 114);
    text-align: center;
}
footer p{
    padding:5px;
    
}
